<div id="<%= dom_id training %>">
  <p>
    <strong>Name:</strong>
    <%= training.name %>
  </p>

  <p>
    <strong>Trainer:</strong>
    <%= training.trainer %>
  </p>

  <p>
    <strong>Starts at:</strong>
    <%= training.starts_at %>
  </p>

  <p>
    <strong>Ends at:</strong>
    <%= training.ends_at %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= training.price %>
  </p>

</div>
