<br>
<div class="container">

  <%= form_with(url: club_path(@club), method: :get) do |form| %>
    <div class="row g-3">
      <div class="col-2">
        <%= form.date_field :selected_day, value: @selected_day, class:"form-control" %>
      </div>
      <div class="col-2">
        <%= form.text_field :duration, value: @duration, class: "form-control" %>
      </div>
      <div class="col-2">
        <%= form.submit value:"search", class: "btn btn-primary mb-3" %>
      </div>
    </div>
  <% end %>

  <div class="row align-items-center">
    <div class="col">
    </div>
    <div class="col">
      <%= render @club %>
    </div>
    <div class="col">
    </div>
  </div>

</div>