<div id="<%= dom_id tournament %>">
  <p>
    <strong>Name:</strong>
    <%= tournament.name %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= tournament.rating %>
  </p>

  <p>
    <strong>Starts at:</strong>
    <%= tournament.starts_at %>
  </p>

  <p>
    <strong>Ends at:</strong>
    <%= tournament.ends_at %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= tournament.price %>
  </p>

</div>
