<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create new event</h5>
      </div>
      <%= form_with(model: Event.new, url: club_events_path(club)) do |form| %>
        <div class="modal-body">
          <%= hidden_field_tag :selected_day, @selected_day %>

          <%= form.hidden_field(:day, value: @selected_day) %>

          <div class="mb-3">
            <%= form.label :name, class: "col-form-label" %>
            <%= form.text_field :name, class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= form.label :email, class: "col-form-label" %>
            <%= form.text_field :email, class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= form.label :phone, class: "col-form-label" %>
            <%= form.text_field :phone, class: "form-control" %>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save event</button>
        </div>
      <% end %>
    </div>
  </div>
</div>