<div id="<%= dom_id event %>">
  <p>
    <strong>Club:</strong>
    <%= event.club_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= event.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= event.phone %>
  </p>

  <p>
    <strong>Tables:</strong>
    <%= event.tables %>
  </p>

  <p>
    <strong>Starts at:</strong>
    <%= event.starts_at %>
  </p>

  <p>
    <strong>Ends at:</strong>
    <%= event.ends_at %>
  </p>

</div>
