<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Новое бронирование</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <%= form_with(model: Event.new, url: club_events_path(@club)) do |form| %>
        <div class="modal-body">
          <%= hidden_field_tag :selected_day, @selected_day %>

          <%= form.hidden_field(:day, value: @selected_day) %>

          <div class="mb-3">
            <%= form.label :Имя, class: "col-form-label" %>
            <%= form.text_field :name, class: "form-control col-xs-2" %>
          </div>

          <div class="mb-3">
            <%= form.label :Телефон, class: "col-form-label" %>
            <%= form.text_field :phone, class: "form-control col-xs-2" %>
          </div>

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Далее</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
