<div class="navbar fixed-top bg-light row row-cols-12 shadow mb-5 bg-body padding-0">
  <div class="col-1 text-center">
    <%= link_to(timetable_index_path( selected_day: @selected_day.to_date.prev_week ), id:"prevWeek", class: "link-secondary link-date", remote:true) do %>
      <i class='bi bi-caret-left-fill navbar_arrows' width="60" height="60"></i>
    <% end %>
  </div>
  <% @days.each do |day| %>
    <div class="col text-center <%= "border-bottom border-3 border-success padding-10" if day == @selected_day  %> ">
      <%= link_to(day.strftime('%A'), timetable_index_path(selected_day: day), class: define_day_color(@selected_day, day), remote:true) %>
      <br>
      <%= link_to(day.strftime('%d %b'), timetable_index_path(selected_day: day), class: define_day_color(@selected_day, day), remote:true) %>
    </div>
  <% end %>
  <div class="col-1 text-center">
    <%= link_to(timetable_index_path(selected_day: @selected_day.to_date.next_week ), id:"nextWeek", class: "link-secondary link-date", remote:true) do %>
      <i class='bi bi-caret-right-fill navbar_arrows'></i>
    <% end %>
  </div>
</div>
