<% @club.events.each do |event| %>
  <div class="collapse" id="event_<%= event.id %>_collapse" data-bs-parent="#traninngsTournaments">
    <div id="eventAdditionalInfo" class="card card-body clearfix">
      <div id="eventAdditionalInfo" class="clearfix">
        <div class="row">
          <div class="col-6">
            <%= form_with model: [@club, event] do |form| %>
              <%= hidden_field_tag :selected_day, @selected_day %>
              <%= form.text_field :name %>
              <%= form.text_field :phone %>
              <%= form.text_field :price %>
              <%= form.submit %>
            <% end %>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-outline-primary float-end btn-sm"
                    value="<%= {bookable_id: event.id, bookable_type: "Event"}.to_json %>"
                    data-controller="hello" data-action="click->hello#selectKind">
              Set in calendar
            </button>
            <%= button_to "delete", club_event_path(@club,event, selected_day: @selected_day), id:"event_#{event.id}_delete", class:"btn btn-outline-danger float-end btn-sm", method: :delete %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
