<style>
  .css-grid-table-header,
  .css-grid-table-body {
    grid-template-columns: 60px repeat(<%= @gametables.count %>, 130px);
      }

</style>
<%= render 'days_weeks_navbar' %>


    <div class="col-md-4">
      </div>
    <div class="col-md-4  text-center">
      <h3>
        <%= @selected_day.strftime('%A %d %b') %>
      </h3>
    </div>
    <div class="fw-bold col-md-3 offset-md-1" style="min-width: 330px;">
      <%= render 'working_time' %>
    </div>
  </div>



  <div id="traninngsTournaments" class="d-flex flex-wrap p-3 sticky-menu" style="max-width: 1360px; margin: 0 auto;">
    <div class="menu-containers menu-containers-width">
      <%= render 'tournaments_controls' %>
    </div>

    <div class="menu-containers menu-containers-width">
      <%= render 'trainings_controls' %>
    </div>

    <div class="menu-containers">
      <%= render 'set_price_control' %>
    </div>

    <input class="form-control d-none" list="datalistOptions" id="params_to_send">


  </div>


<div class="timetable-container">
    <%= render 'timetable' %>
    </div>
