<style>
    .css-grid-table-header,
    .css-grid-table-body {
        grid-template-columns: 60px repeat(<%= @gametables.count %>, 130px);
        line-height: 60px;
    }
</style>
<%= render 'days_weeks_navbar' %>
<br>
<br>
<br>
<br>
<div class="container padding-10">
  <div class="row">
    <div class="col  text-center">
      <h3>
        <%= @selected_day.strftime('%A %d %b') %>
      </h3>
    </div>
  </div>

  <div class="fw-bold mb-1 col padding-10 text-center">
      <%= render 'working_time' %>
  </div>

  <div id="traninngsTournaments" class="d-flex flex-wrap justify-content-between" style="margin: auto">
    <div class="menu-containers">
      <%= render 'tournaments_controls' %>
    </div>

    <div class="menu-containers">
      <%= render 'trainings_controls' %>
    </div>

    <div class="menu-containers">
      <%= render 'set_price_control' %>
    </div>

    <input class="form-control d-none" list="datalistOptions" id="params_to_send">


  </div>
</div>
<br>
<br>
<br>

  <div class="table-container">

      <%= render 'timetable' %>

  </div>
