
<%= turbo_stream_from dom_id(price) %>
  <td class="col-1 text-center table-<%= price.define_color %>" id=<%= price.id %> >
    <%= turbo_frame_tag dom_id(price) do %>
      <%= price.bookings.empty? ? price.value : price.bookings.first.email %>
    <% end %>
  </td>
