<div class="col-6">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#tournamentModal" data-bs-whatever="tournament">New tournament</button>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#trainingModal" data-bs-whatever="group training">New training</button>
</div>

<br>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <% @club.tournaments.each do |tournament| %>
    <div class="btn-group me-2" role="group" aria-label="First group">
      <button type="button" class="btn btn-outline-primary"
              value="<%= {bookable_id: tournament.id, bookable_type: "Tournament", tournament_rating: tournament.rating }.to_json %>"
              data-bs-toggle="collapse" href="#tournament_<%= tournament.id %>_collapse" role="button" aria-expanded="false" aria-controls="tournament_<%= tournament.id %>_collapse">
        < <%= tournament.rating %>
      </button>
    </div>
  <% end %>

  <% @club.trainings.each do |training| %>
    <div class="btn-group me-2" role="group" aria-label="Second group"  >
      <button type="button" class="btn btn-outline-info" value="<%= {bookable_id: training.id, bookable_type: "Training"}.to_json %>"
              data-bs-toggle="collapse" href="#training_<%= training.id %>_collapse" role="button" aria-expanded="false" aria-controls="training_<%= training.id %>_collapse">
        <%= training.trainer %>
      </button>
    </div>
  <% end %>
</div>

<br>

<% @club.tournaments.each do |tournament| %>
  <div class="collapse" id="tournament_<%= tournament.id %>_collapse">
    <div id="eventAdditionalInfo" class="card card-body clearfix">
      <div id="eventAdditionalInfo" class="clearfix">
        This tournament have rating <%= tournament.rating %>
        <button type="button" class="btn btn-secondary float-end"
                value="<%= {bookable_id: tournament.id, bookable_type: "Tournament", tournament_rating: tournament.rating }.to_json %>"
                data-controller="hello" data-action="click->hello#selectKind">
          Set in calendar
        </button>
      </div>
    </div>
  </div>
<% end %>

<br>

<% @club.trainings.each do |training| %>
  <div class="collapse" id="training_<%= training.id %>_collapse">
    <div id="eventAdditionalInfo" class="card card-body clearfix">
      <div id="eventAdditionalInfo" class="clearfix">
        This Training will be promote by <%= training.trainer %>
        <button type="button" class="btn btn-secondary float-end"
                value="<%= {bookable_id: training.id, bookable_type: "Training"}.to_json %>"
                data-controller="hello" data-action="click->hello#selectKind">
          Set in calendar
        </button>
      </div>
    </div>
  </div>
<% end %>

<%= render 'trainings/form_modal'  %>
<%= render 'tournaments/form_modal'  %>