<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#tournamentModal" data-bs-whatever="tournament">New tournament</button>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#trainingModal" data-bs-whatever="group training">New training</button>
<button type="button" class="btn btn-primary" data-bs-toggle="collapse" href="#setPriceCollapse" role="button" aria-expanded="false" aria-controls="setPriceCollapse">Set price</button>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <% @club.tournaments.each do |tournament| %>
    <div class="btn-group me-2" role="group" aria-label="First group">
      <button type="button" class="btn btn-outline-primary" role="button" aria-expanded="false"
              data-bs-toggle="collapse" href="#tournament_<%= tournament.id %>_collapse"  aria-controls="tournament_<%= tournament.id %>_collapse">
        < <%= tournament.rating %>
      </button>
    </div>
  <% end %>

  <% @club.trainings.each do |training| %>
    <div class="btn-group me-2" role="group" aria-label="Second group"  >
      <button type="button" class="btn btn-outline-info" role="button" aria-expanded="false"
              data-bs-toggle="collapse" href="#training_<%= training.id %>_collapse"  aria-controls="training_<%= training.id %>_collapse">
        <%= training.trainer %>
      </button>
    </div>
  <% end %>
</div>

<br>

<div id="traninngsTournaments">
  <div class="collapse" id="setPriceCollapse" data-bs-parent="#traninngsTournaments">
    <div id="eventAdditionalInfo" class="card card-body clearfix">
      <div id="eventAdditionalInfo" class="clearfix">
        <div class="row">
          <div class="col-6">
            <label for="formFile" class="form-label">Set price</label>
            <input class="form-control" type="number" list="datalistOptions" id="price" placeholder="400" value="345" data-controller="hello" data-action="input->hello#setPrice">
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% @club.tournaments.each do |tournament| %>
    <div class="collapse" id="tournament_<%= tournament.id %>_collapse" data-bs-parent="#traninngsTournaments">
      <div id="eventAdditionalInfo" class="card card-body clearfix">
        <div id="eventAdditionalInfo" class="clearfix">
          <div class="row">
            <div class="col-6">
              <%= form_with model: [@club, tournament] do |form| %>
                <%= form.text_field :name %>
                <%= form.text_field :rating %>
                <%= form.submit %>
              <% end %>
            </div>
            <div class="col-6">
              <button type="button" class="btn btn-outline-primary float-end btn-sm"
                      value="<%= {bookable_id: tournament.id, bookable_type: "Tournament", tournament_rating: tournament.rating }.to_json %>"
                      data-controller="hello" data-action="click->hello#selectKind"> Set in calendar
              </button>
              <%= button_to "delete", club_tournament_path(@club, tournament), class:"btn btn-outline-danger float-end btn-sm", method: :delete %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <br>

  <% @club.trainings.each do |training| %>
    <div class="collapse" id="training_<%= training.id %>_collapse" data-bs-parent="#traninngsTournaments">
      <div id="eventAdditionalInfo" class="card card-body clearfix">
        <div id="eventAdditionalInfo" class="clearfix">
          <div class="row">
            <div class="col-6">
              <%= form_with model: [@club, training] do |form| %>
                <%= form.text_field :name %>
                <%= form.text_field :trainer %>
                <%= form.submit %>
              <% end %>
            </div>
            <div class="col-6">
              <button type="button" class="btn btn-outline-primary float-end btn-sm"
                      value="<%= {bookable_id: training.id, bookable_type: "Training"}.to_json %>"
                      data-controller="hello" data-action="click->hello#selectKind">
                Set in calendar
              </button>
              <%= button_to "delete", club_training_path(@club,training), class:"btn btn-outline-danger float-end btn-sm", method: :delete %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= render 'trainings/form_modal'  %>
<%= render 'tournaments/form_modal'  %>