<div class="navbar fixed-top  bg-light row row-cols-12 shadow p-3 mb-5 bg-body rounded">
  <div class="col-1">prev</div>
  <% @days.each do |day| %>
    <div class="col text-center <%= "rounded border border-secondary border-2" if day == @selected_day  %>">
      <%= link_to(day.strftime('%A'), timecells_path(selected_day: day), class: "link-secondary link-date", remote:true) %>
      <br>
      <%= link_to(day.strftime('%d %b'), timecells_path(selected_day: day), class: "link-secondary link-date", remote:true) %>
    </div>
  <% end %>
  <div class="col-1 text-center ">next</div>
</div>
  <br>
<div class="container-fluid">
  <p style="color: green"><%= notice %></p>
  <div>
    <h1 class="font-bold text-center text-4xl text-blue-500">Prices for club <%= @gametables.first.club.name %></h1>
  </div>
  <br>
  <%= render 'timecell_definition' %>
  <br>
  <%= render 'event_modal' %>

  <br>
  <br>
  <table class="table table-hover table-bordered">
    <thead>
    <tr class="">
      <th class="text-center table-dark">
        Time/Table
      </th>

      <% @gametables.each do |gametable| %>
        <th class="text-center" id="<%= gametable.id %>">
          <%= gametable.id %>
          <br>
          <%= gametable.description %>
        </th>
      <% end %>
    </tr>
    </thead>
    <tbody>

    <% @timecells.each do |cells| %>
      <tr>
        <th class="text-right col-1" data-controller="hello" data-action="click->hello#handleTime" value="<%= {time: 1}.to_json %>" >
          <%= cells.first.strftime("%H:%M") %>
        </th>
        <% cells.last.each do |timecell| %>
          <%= render timecell %>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>



