<style>
    .css-grid-table-header,
    .css-grid-table-body {
        grid-template-columns: repeat(<%= @gametables.count + 1 %> , 100px);
        line-height: 30px;
    }
</style>

<div class="navbar fixed-top  bg-light row row-cols-12 shadow p-3 mb-5 bg-body rounded">
  <div class="col-1">prev</div>
  <% @days.each do |day| %>
    <div class="col text-center <%= "rounded border border-secondary border-2" if day == @selected_day  %>">
      <%= link_to(day.strftime('%A'), timecells_path(selected_day: day), class: "link-secondary link-date", remote:true) %>
      <br>
      <%= link_to(day.strftime('%d %b'), timecells_path(selected_day: day), class: "link-secondary link-date", remote:true) %>
    </div>
  <% end %>
  <div class="col-1 text-center ">next</div>
</div>
  <br>

<div class="container-fluid">
  <p style="color: green"><%= notice %></p>

  <div>
    <h1 class="font-bold text-center text-4xl text-blue-500">Prices for club <%= @gametables.first.club.name %></h1>
  </div>
  <br>

  <div class="row">

    <div class="col-5">
      <label for="formFile" class="form-label">Select tournament or group training</label>
      <%= render 'trainings_and_tournaments' %>
    </div>

    <div class="col-4 ">
      <label for="formFile" class="form-label">Your click will set</label>
      <input class="form-control" list="datalistOptions" id="params_to_send" placeholder="400" value="400" >
    </div>

    <div class="col-2">
      <label for="formFile" class="form-label">Set price</label>
      <input class="form-control" type="number" list="datalistOptions" id="price" placeholder="400" value="345" data-controller="hello" data-action="input->hello#setPrice">
    </div>

  </div>

  <br>

  <div class="css-grid-table">

    <div class="css-grid-table-header">
      <div class="sticky-left">time/table</div>
      <% @gametables.each do |gametable| %>
        <div id="<%= gametable.id %>">
          <%= gametable.id %>
          <br>
          <%= gametable.description %>
        </div>
      <% end %>
    </div>

    <% @timecells.each do |cells| %>
      <div class="css-grid-table-body">
        <div class="sticky-left" data-controller="hello" data-action="click->hello#handleTime">
          <%= cells.first.strftime("%H:%M") %>
        </div>
        <% cells.last.each do |timecell| %>
          <%= render timecell %>
        <% end %>
      </div>
    <% end %>
  </div>

</div>



