<style>
    .css-grid-table-header,
    .css-grid-table-body {
        grid-template-columns: repeat(<%= @gametables.count + 1 %> , 100px);
        line-height: 60px;
    }
</style>

<%= render 'days_weeks_navbar' %>

<div class="container-fluid">
  <br>  <br>  <br>  <br>  <br>
  <div class="container">
    <p style="color: green"><%= notice %></p>
    <div class="row">
      <div class="col">
        Opening hours: 7:00 - 23:00
      </div>
      <div class="col">
        <h1 class="font-bold text-center text-4xl text-blue-500">Prices for club <%= @gametables.first.club.name %></h1>
      </div>
      <div class="col">
        Column
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-6">
      <%= render 'trainings_and_tournaments' %>
    </div>
    <div class="col-6">
      <label for="formFile" class="form-label">Your click will set</label>
      <input class="form-control" list="datalistOptions" id="params_to_send" placeholder="400" value="400" >
    </div>
  </div>

  <br>

  <div class="css-grid-table">
    <div class="css-grid-table-header">
      <div class="sticky-left">time/table</div>
      <% @gametables.each do |gametable| %>
        <div id="<%= gametable.id %>">
          <%= gametable.id %>
          <p class="table-description mb-0 fw-normal">
          <%= gametable.description %>
          </p>
        </div>
      <% end %>
    </div>
    <% @timecells.each do |cells| %>
      <div class="css-grid-table-body">
        <div class="sticky-left" data-controller="hello" data-action="click->hello#handleTime">
          <%= cells.first.strftime("%H:%M") %>
        </div>
        <% cells.last.each do |timecell| %>
          <%= render timecell %>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
