<p style="color: green"><%= notice %></p>

<%= render @timecell %>

<div>
  <%= link_to "Edit this timecell", edit_timecell_path(@timecell) %> |
  <%= link_to "Back to timecells", timecells_path %>

  <%= button_to "Destroy this timecell", @timecell, method: :delete %>
</div>
